.calendar_link {
	font-family: serif;
	font-size: 30px;
	text-align: center;
	color: #000000;
	text-decoration: none;
	text-underline: none;
}

.calendar_head {
	font-family: serif;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	width: 50px;
}

.calendar_head_month {
	font-family: serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	background-color: #9d9d9d;
	color: #FFFFFF;
}

.calendar_day {
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	color: #FFFFFF;
	background-color: #000000;
}

.calendar_entry {
	font-family: monospace;
	font-size: 40px;
	text-align: center;
    background-color: white;
    border-color: white;
}

.calendar_entry:hover {
    background: #66FFF0;}

.button {
width: 120px;
height: 20px; 

}
